%html{:lang => "en", "data-ng-app" => "demoApp"}
  %head
    %title My App
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/test.css", :rel => "stylesheet"}

  %body
    %div{"data-ng-view" => ""}

    %script{:src => "js/angular.min.js"}
    %script{:src => "js/main.js"}



